<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/main-nav.ejs') %>
        <main>
            <form action='/auth/reset/newpassword' method='POST' class='form-data'>  
                <h4>Update Password</h4>  
                <div class='error-msg'>
                    <p><%= errorMessage %></p>
                </div>           
                <div class = 'form-controls'>                    
                    <label for='password'>Password: </label>
                    <input type='password' name='password' value= ''/> 
                    <input type='hidden' name='_csrf' value = '<%= csrfToken %>'> 
                    <input type ='hidden' name='token' value='<%= token %>'>               
                </div>
                <button type='submit' id='login-button'>Update Password</button>
            </form>
        </main>
    </body>
</html>