<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/main-nav.ejs') %>
        <main>
            <form action='/auth/reset' method='POST' class='form-data'>  
                <h4>Reset PassWord</h4>  
                <div class='error-msg'>
                    <p><%= errorMessage %></p>
                </div> 
                <div class='success-msg'>
                    <p><%= successMessage %></p>
                </div>           
                <div class = 'form-controls'>
                    <label for='email'>Email: </label>
                    <input type='email' name='email' value= ''/>                    
                    <input type='hidden' name='_csrf' value = '<%= csrfToken %>'>
                </div>
                <button type='submit' id='login-button'>Send Link</button>
            </form>
        </main>
    </body>
</html>